<div *ngIf="thumbnailsInfo">
  <div
    class="page-header section-dark"
    [ngStyle]="{
      'background-image': 'url(' + coverPhoto + ')'
    }"
  >
    <!-- <div class="filter"></div> -->
    <div class="container">
      <div class="carousel-caption text-left">
        <h1>
          <span class="badge badge-primary">{{ road.area }}</span>
        </h1>
        <p>{{ road.prefecture }}</p>
        <p>{{ road.description }}</p>
        <p>{{ road.roadname }}</p>
      </div>
    </div>
  </div>

  <!-- <hr class="featurette-divider" /> -->
  <!-- DEBUG S3 -->
  <!-- Thubnails表示 -->
  <div class="container marketing">
    <div class="row featurette">
      <div class="col-md-12">
        <h3 class="featurette-heading">
          撮影画像サムネイル(画像クリックで詳細情報)
        </h3>
        <br />
        <button
          type="button"
          class="btn btn-success"
          data-toggle="collapse"
          data-target="#collapseExample"
          aria-expanded="true"
          aria-controls="collapseExample"
        >
          サムネイル表示/非表示
        </button>
        <button
          type="button"
          id="all-set-button"
          class="btn btn-outline-danger"
          (click)="allCheckboxChecked()"
        >
          全て選択
        </button>
        <button
          type="button"
          id="all-clear-button"
          class="btn btn-outline-primary"
          (click)="allCheckboxUnChecked()"
        >
          全て解除
        </button>

        <br /><br />

        <div class="collapseTemp" id="collapseExampleTemp">
          <div class="grid">
            <div
              class="col-sm"
              *ngFor="let thumbnail of thumbnailsInfo; let i = index"
            >
              <div class="card">
                <img
                  src="{{ thumbnail.photoUrl }}"
                  class="card-img-top"
                  alt="..."
                  routerLink="{{ thumbnail.photoKey }}"
                />
                <form class="card-body">
                  <input #checkboxes type="checkbox" name="map-display-flag" />
                  {{ thumbnail.photoKey }}
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- <hr class="featurette-divider" /> -->

    <!-- mapエリア -->
    <h3 class="featurette-heading">
      撮影画像マップ
    </h3>
    <br />
    <div class="col-md-12">
      <google-map
        height="570px"
        width="760px"
        [center]="center"
        [zoom]="zoom"
        [options]="options"
      >
        <map-marker
          *ngIf="currentPosition"
          [position]="currentPosition"
          [options]="currentPositionMarkerOption"
        >
        </map-marker>
      </google-map>
    </div>

    <hr class="featurette-divider" />

    <!-- FOOTER -->
    <footer class="container">
      <p class="float-right"><a href="#">Back to top</a></p>
      <p>
        &copy; 2020-2021 Company, Inc. &middot; <a href="#">Privacy</a> &middot;
        <a href="#">Terms</a>
      </p>
    </footer>
  </div>
</div>
