<div *ngIf="road">
  <div
    class="page-header section-dark"
    [ngStyle]="{ 'background-image': 'url(' + road.coverimg + ')' }"
  >
    <!-- <div class="filter"></div> -->
    <div class="container">
      <div class="carousel-caption text-left">
        <h1>
          <span class="badge badge-primary">{{ road.area }}</span>
        </h1>
        <p>{{ road.prefecture }}</p>
        <p>{{ road.description }}</p>
        <p>{{ road.roadname }}</p>
      </div>
    </div>
  </div>

  <!-- DEBUG S3 -->
  <div>
    <h3>Photo Album Viewer SLOPE</h3>
    <div id="viewer"></div>
  </div>
  <!-- <hr class="featurette-divider" /> -->

  <!-- Thubnails表示 -->
  <div class="container marketing">
    <div class="row featurette">
      <div class="col-md-12">
        <h3 class="featurette-heading">
          撮影写真サムネイル
        </h3>
        <br />
        <button
          type="button"
          id="all-set-button"
          class="btn btn-outline-primary"
          (click)="allCheckboxChecked()"
        >
          全て選択
        </button>
        <button
          type="button"
          id="all-clear-button"
          class="btn btn-outline-danger"
          (click)="allCheckboxUnChecked()"
        >
          全て解除
        </button>
        <br />
        <br />
        <br /><br />
        <div class="panel-group">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" href="#collapse1">折りたたみ</a>
              </h4>
            </div>
            <div id="collapse1" class="panel-collapse collapse">
              <div class="panel-body">内容</div>
              <div class="panel-footer">フッター</div>
            </div>
          </div>
        </div>

        <div class="grid">
          <div class="col-sm" *ngFor="let pokemon of pokemons">
            <div class="card">
              <img
                src="assets/pokemons/thumbnails/{{
                  pokemon.id | number: '3.0'
                }}.png"
                class="card-img-top"
                alt="..."
                routerLink="{{ pokemon.id }}"
              />
              <form class="card-body">
                <input #checkboxes type="checkbox" name="map-display-flag" />
                {{ pokemon.name.japanese }}
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <hr class="featurette-divider" />

    <!-- mapエリア -->
    <div class="col-md-12">
      <google-map
        height="500px"
        width="500px"
        [center]="center"
        [zoom]="zoom"
        [options]="options"
      ></google-map>
    </div>

    <hr class="featurette-divider" />

    <!-- FOOTER -->
    <footer class="container">
      <p class="float-right"><a href="#">Back to top</a></p>
      <p>
        &copy; 2020-2021 Company, Inc. &middot; <a href="#">Privacy</a> &middot;
        <a href="#">Terms</a>
      </p>
    </footer>
  </div>
</div>
