<div class="wrapper">
  <div
    class="page-header section-dark"
    style="background-image: url('assets/img/roads-cover0.jpg');"
  >
    <!-- <div class="filter"></div> -->
  </div>
  <div class="container">
    <br />
    <div class="row">
      <!-- <div *ngFor="let road of roads; index as roadId" class="col-sm"> -->
      <div *ngFor="let road of roads; let i = index" class="col-sm">
        <a [routerLink]="[road.folderId]">
          <div class="card">
            <img src="{{ road.coverimg }}" class="card-img-top" alt="..." />
            <div class="card-body">
              <div class="card-text">
                <h5 class="card-title">{{ road.area }}</h5>
                <p class="card-text">{{ road.prefecture }}</p>
                <p class="card-text">{{ road.members }}</p>
                <p class="card-text">{{ dateData[i] }}</p>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
